h1{
    color: red;
}

h2{
    color:red;
    font-style: italic;
}

ol{
    color: rgb(98, 8, 8);
}

ul{
    color: rgb(98, 8, 8);
    letter-spacing: 4px;
}

p{
    color: rgb(98, 8, 8);
}

.del{
    text-decoration: line-through;
}

.span1{
    background: yellow;
}

.last_li{
    text-decoration: underline;
    font-style: italic;
}

h3{
    font-style: italic;
    color: red;
}

a{
    color: rgb(98, 8, 8);
    text-decoration: none;
    font-style: italic;
    background: yellow;
}